:root {
    --fuentePrimaria: 'Playfair Display', serif;
    --fuenteSecundaria: 'Raleway', sans-serif;
    --primario: #037bc0;
    --secundario: #8cbc00;
}

/** Titulo **/
.titulo {
    font-family: var(--fuentePrimaria);
}

.titulo span {
    color: var(--primario);
}

.nav-link {
    color: black;
}

.navbar {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}