:root {
    --fuentePrimaria: 'Playfair Display', serif;
    --fuenteSecundaria: 'Raleway', sans-serif;
    --primario: #037bc0;
    --secundario: #8cbc00;
}

/** Configurações Globais **/
.imagem-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/** Titulo **/
.titulo {
    font-family: var(--fuentePrimaria);
}

.titulo span {
    color: var(--primario);
}

.nav-link {
    color: black;
}

.navbar {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

/** Imagem Principal **/
.imagem-principal {
    background-image: url(../img/principal.jpg);
    height: 35rem;
}