:root {
    --fuentePrimaria: 'Playfair Display', serif;
    --fuenteSecundaria: 'Raleway', sans-serif;
    --primario: #037bc0;
    --secundario: #8cbc00;
}

/** Configurações Globais **/
.bg-primary {
    background-color: var(--primario)!important;
}

.imagem-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h2 {
    font-size: 3rem;
}

/** Titulo **/
.titulo {
    font-family: var(--fuentePrimaria);
}

.titulo span {
    color: var(--primario);
}

.nav-link {
    color: black;
}

.navbar {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

/** Imagem Principal **/
.imagem-principal {
    background-image: url(../img/principal.jpg);
    height: 35rem;
}

/* Categorias */
.categorias a {
    font-family: var(--fuenteSecundaria);
    font-weight: 400;
    color: black!important;
    font-size: 2rem;
}

.categorias a:hover {
    text-decoration: none;
}

/** Sobre Nós */

.sobre-nos,
.imagem-sobrenos{
    min-height: 35rem;
}

.imagem-sobrenos {
    background-image: url(../img/nosotros.jpg);
}

/** Produtos **/

.info-produto .preco {
    font-size: 1.8rem;
}

.info-produto .btn-success {
    background-color: var(--secundario);
    border-color: var(--secundario);
}

.info-produto .btn-success:hover {
    background-color: #80ab02;
}

/** Footer**/

.footer {
    border-top: 1px solid #e1e1e1;
}

.footer-menu .nav-link {
    color: #666!important;
}